# Entornos virtuales
/env
/venv
/.venv

# Archivos de configuración local que contienen secretos
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# INFORME

INFORME.md
.INFORME.md
# Archivos de caché de herramientas de testing
.pytest_cache/
.coverage

# Carpetas de configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Jupyter Notebook
.ipynb_checkpoints
